@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 2rem 6rem 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(246, 250, 253, 0.9);
  backdrop-filter: blur(50px);
  transition: background 0.4s;
}
.navbar .logo {
  margin-right: 16px;
}
.navbar div {
  display: flex;
  line-height: 100%;
}
.navbar .menu {
  display: inherit;
  list-style-type: none;
}
.navbar .menu li {
  padding: 2px;
  margin-left: 12px;
}
.navbar .menu li a {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
}
.navbar .menu li:hover {
  cursor: pointer;
}
.navbar .menu li:hover a {
  border-bottom: solid 1px black;
  color: black;
}
.navbar .activeLink a{
  border-bottom: solid 1px black !important;
  color: black !important;
}

main section {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding: 6rem;
}

.button {
  padding: 12px 20px 12px 20px;
  border: solid 2px gray;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  transition: background 0.4s;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.9);
  color: white;
}

footer {
  padding: 12px 6rem 12px 6rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #f6fafd;
}
footer span {
  width: 50%;
  text-align: center;
}
footer span p {
  font-size: 0.8rem;
  color: gray;
}

@media (max-width: 650px) {
  .navbar {
    padding: 2rem 1rem 2rem 1rem;
  }

  footer {
    padding: 12px 1rem 12px 1rem;
  }

  main section {
    padding: 60px 0 0 1rem;
  }
}